footer
  width 1000px
  margin 5em auto 0

  color #000

  display flex
  flex-wrap wrap
  justify-content space-around


  form
    width 22%
  address //,form
    width 25%
    //width 30%

  nav
    //width 20%
    a
      display block
      color #000
      text-decoration none
      &:hover
        color #0071BB
        text-decoration underline


  .copyright
    margin 4em 0 3em
    //align-self stretch
    width 100%

    i + i
      float right
