footer
  width 1000px

  margin 5em auto

  color #000
  display flex

  justify-content space-around

  address,form
    width 20%
    //width 30%

  nav
    //width 20%
    a
      display block
      color #000
