#main


  min-height 100vh //100%
  //background url(../img/test_bg.jpg) center/cover no-repeat
  display flex
  align-items stretch
  flex-wrap wrap


  position relative

  color #FFF
  a
    color #FFF



  video
    position absolute //fixed
    top 0
    left 0
    z-index -1
    min-width 100%
    min-height 100%

    //height auto
    //background-size cover






  aside

    background #14469B
    padding 1em 2em

    width 100%

    //background rgb(20, 70, 155) //#14469B

    @media (min-width 1200px)
      background rgba(20, 70, 155, 0.7)
      width 30%


  h2
    margin 1em 0
    font-weight 400
    font-size 25px
    line-height 30px

  ul
    margin 0 0 2em
    li
      &:before
        content '✔ ';


  .intro-Modulator
    background url(../img/intro-Modulator.png) 10px 10px no-repeat #3a6dc3
    padding 1em 1em 1em 10em
    margin 0 0 1em

    width 360px


  .contactDiv
    *
      //float left
      display inline-block
      width 49%
      margin-bottom .5em
    b
      font-size 22px





.main
  C_W()
  padding 2em 0 0

  h1
    background url(../img/logo.png) center 20px no-repeat

    font-size 16px
    font-weight 400
    text-align center
    padding 240px 0 50px
  nav
    padding 2em 0
    a
      padding-right 2em





//меню с иконками
.main-icon
  width 600px
  margin 0 auto 10em

  padding-top 120px
  text-align center
  a
    position relative
    text-decoration none
    float left
    width 100px

    &:before
      content ''
      position absolute
      top -70px
      left 50px
      margin-left -30px

      width 60px
      height 60px
      //background rgba(#FFF, .5)

    &:nth-child(1):before
      background url(../img/svg_main/siding.svg)
    &:nth-child(2):before
      background url(../img/svg_main/interior_trim.svg)
    &:nth-child(3):before

      background url(../img/svg_main/drain.svg)
    &:nth-child(4):before
      background url(../img/svg_main/rainwater_system.svg)
    &:nth-child(5):before
      background url(../img/svg_main/lawn_panel.svg)

    // &:nth-child(6):before
    //   background url(../img/svg_main/rainwater_system.svg)


/*
drain
interior_trim
lawn_panel
mount
rainwater_system
roof
siding
the_front_panel


водосток
Интерьер салона
газон панель
крепление
система дождевой
крыша
сайдинг
передняя панель


*/
