.tablist
  width 20%
  float left
  text-align center
  a

    display block
    padding-top 60px

    color #777
    font-weight 400

    text-decoration none

    background url('http://placehold.it/50') top center no-repeat


    &.active
      //border 2px solid #FFF

      //box-shadow: 0 4px 5px rgba(0, 0, 0, 0.24)

      //box-shadow




.vs
  width 40%
  float left



.advantage
  list-style none
  li
    &:before
      content '● '

  &.plus li
    &:before
      color #58b200

  &.minus li
    &:before
      color #ff3636
