
setNthBg()
  for i in (1..50)
    //&:nth-of-type({index + 1})
    &:nth-child({i})
      background hsl(i * 5, 90%, 50%)


box-shadow()
  //box-shadow 0 0 10px #000
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24)


.colorpicker
  width 450px
  float left
  margin-right 2em
  a
    text-decoration none

    float left
    width 45px
    height 45px
    //background #EEE

    setNthBg()

    position relative

    &:hover
      z-index 1
      border 2px solid #FFF
      box-shadow()

      //background-image url(../img/color_hover.svg)
      //background-position center
      //background-repeat no-repeat


      &:before
      &:after
        position absolute

      &:before
        content '▼'
        left 50% //-2em
        transform translateX(-50%)
        z-index 2
        bottom 2.3em
        color #FFF

        //width
        //height

      &:after
        content attr(data-color)
        white-space nowrap
        color #999

        left 0 //-1em
        top -2.5em
        //border 1px solid #DDD


        background #FFF
        padding 0 .5em
        //height 1.8em
        line-height 1.8em

        box-shadow()
