@import 'jeet'


//@import 'base/norm'

@import 'base/norm'

@import 'base/tpgr'
@import 'base/kit'
@import 'base/action'
@import 'base/form'
@import 'base/icon'


@import 'blocks/main'
@import 'blocks/s_1'
@import 'blocks/s_2'
@import 'blocks/s_3'
@import 'blocks/s_4'
@import 'blocks/s_5'
@import 'blocks/to_catalog'

@import 'blocks/about'
@import 'blocks/news'
@import 'blocks/photo'
@import 'blocks/footer'
