

.btn
  display inline-block
  border 1px solid rgba(#FFF, .7)
  padding .5em 1em
  text-decoration none
  color #FFF
  &:hover
    background rgba(#FFF,.2)

  &.blue
    background #0071bb
    //&:hover

  &.red
    background #ff4242
    //&:hover
