#TEST_SECOND_NAV
  C_W()
  padding 1em 0

  &.fixed
    position fixed
    top 0
    left 0
    right 0
    //width 100%
    z-index 10
    background rgba(#FFF, .7)

  a
    text-decoration none
    color #000
    display inline-block
    padding 0 1em






//===============================
.btn
  display inline-block
  border 1px solid rgba(#FFF, .7)
  padding .4em 1em
  text-decoration none
  color #FFF
  &:hover
    background rgba(#FFF,.2)

  &.blue
    background #0071bb
    &:hover
      background #0063A5

  &.red
    background #ff4242
    &:hover
      background #D43838

  &.gray
    color #444
    background #FFF
    //box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.24)
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24)
    &:hover
      box-shadow: none

    &.active
      background #DDD
      box-shadow: none


// "Популярные товары"
.menuline
  height 50px
  width 100%
  //display flex
  //justify-content space-around
  //line-height 50px
  //background #0071BB


  text-align center
  a
    float left
    width calc(100%/5)
    line-height 50px

    background #0071BB
    //padding 0 3em

    color #FFF
    text-decoration none

    & + a
      border-left 1px solid rgba(#FFF, .2)




    //grba(#FFF, .3)

    &:hover
      background #2e8BC7

    &.active
      background #0061a1
