absR()
  position absolute
  top 0
  right 0
  //width 400px
  height 100vh
  background rgba(20, 70, 155, 0.7)

aside
  cf()
  //clear both

  padding 1em 2em
  //background rgba(20, 70, 155, 0.7)
  background rgb(20, 70, 155) //#14469B



  .block
    C_900()
    //float left
    //width 360px


  @media (min-width: 1300px)
    absR()
    .block
      width 400px


  h2
    margin 1em 0
    font-weight 400
    font-size 25px
    line-height 30px


  ul
    margin 0 0 2em
    li
      &:before
        content '✔ ';





.intro-Modulator
  background url(../img/intro-Modulator.png) 10px 10px no-repeat #3a6dc3
  padding 1em 1em 1em 10em
  margin 0 0 1em

  width 360px



.contactDiv
  *
    //float left
    display inline-block
    width 49%
    margin-bottom .5em
  b
    font-size 22px
