.social
  a
    border 1px solid #FFF

    border-radius 3px
    display inline-block
    width 20px
    height 20px
    // &:hover
    // &:active

    &.vk
      background url(../img/icon/vk_w.png) center no-repeat
    &.f
      background url(../img/icon/f_w.png) center no-repeat
    odnoklassniki
    &.ok
      background url(../img/icon/ok_w.png) center no-repeat
    &.youtube
      background url(../img/icon/youtube_w.png) center no-repeat
