.social
  a
    border 1px solid #FFF

    border-radius 3px
    display inline-block
    width 20px
    height 20px

    background-position center
    background-repeat no-repeat


    &:hover
      background-color #E00C1B //rgba(#000, .5)
    // &:active

    &.vk
      background-image url(../img/icon/vk_w.png)
    &.f
      background-image url(../img/icon/f_w.png)
    //odnoklassniki
    &.ok
      background-image url(../img/icon/ok_w.png)
    &.youtube
      background-image url(../img/icon/youtube_w.png)
