.social
  a
    border 1px solid #FFF

    border-radius 3px
    display inline-block
    width 20px
    height 20px
    // &:hover
    // &:active

  &.vk
    //background url(../img/i-vk.png) center no-repeat
  &.f
    //background url(../img/i-f.png) center no-repeat
  //odnoklassniki
  &.ok
    //background url(../img/i-youtube.png) center no-repeat
  &.youtube
    //background url(../img/i-youtube.png) center no-repeat
