// *
//   box-sizing border-box
//   margin 0
//   padding 0




html, body
  height 100%

body
  font 300 1em/1.5 'Roboto', sans-serif
  //font-family 'Roboto', sans-serif
  color #444
  //background #EEE




C_W()
  width 860px
  margin auto


section
  padding 2em 0

  cf()
  C_W()

  h1
    color #0071bb
    font-size 2.4em //36px
    font-weight 400

  h2
    color #f7403a
    font-size 1.4em //20px


.kineticScroll
  background url(../img/bg-point.svg) #E2E4E6

  // .section
  //   background url(../img/bg-point.svg) #E2E4E6
  h3
    color #777

.tgl-list
  margin-bottom 2em



  input
    border 1px solid #DDD
    padding .2em .5em

    display blocks
    margin-bottom .5em
