*
  box-sizing border-box
  margin 0
  padding 0




html, body
  height 100%

body
  font 1em/1.5 'Roboto', sans-serif
  color #444



C_W()
  width 800px
  margin auto



section
  cf()
  background #EEE
  h1
    color #0071bb
    font-size 2.4em //36px
    font-weight 400
ra
  h2
    color #f7403a
    font-size 1.4em //20px
