main
  C_W()
  padding 2em 0 0



  @media (min-width: 1300px)
    margin-right 500px




  h1
    background url(../img/logo.png) center 20px no-repeat

    font-size 16px
    font-weight 400
    text-align center
    padding 240px 0 50px
  nav
    padding 2em 0
    a
      padding-right 2em

.icon
  width 600px
  margin 0 auto 10em

  padding-top 120px
  text-align center
  a
    position relative
    text-decoration none
    float left
    width 100px

    &:before
      content ''
      position absolute
      top -70px
      left 50px
      margin-left -25px


      width 50px
      height 50px
      background rgba(#FFF, .5)





// ИКОНКИ

//social
.social
  a
    border 1px solid #FFF


    border-radius 3px
    display inline-block
    width 20px
    height 20px
    // &:hover
    // &:active

  &.vk
    //background url(../img/i-vk.png) center no-repeat
  &.f
    //background url(../img/i-f.png) center no-repeat
  //odnoklassniki
  &.ok
    //background url(../img/i-youtube.png) center no-repeat
  &.youtube
    //background url(../img/i-youtube.png) center no-repeat


section.color

  C_W()
  padding-bottom 100px


// colorList =
// setNthBg(colorList)
//   for col, index in colorList
//     //&:nth-of-type({index + 1})
//     &:nth-child({index + 1})
//       background col

setNthBg()
  for i in (1..50)
    //&:nth-of-type({index + 1})
    &:nth-child({i})
      background hsl(i * 5, 90%, 50%)

.colorpicker
  cf()
  width 450px
  a
    text-decoration none

    float left
    width 45px
    height 45px
    background #EEE
    setNthBg()

    position relative

    &:hover
      z-index 1
      border 1px solid #FFF
      box-shadow 0 0 10px #000
      &:before
        content '✔'

        position absolute
        top 50%
        left 50%

        width 20px
        height 20px
        border 2px solid #FFF
        border-radius 50%

        transform translate(-50%, -50%)

        color #FFF


      &:after
        content attr(data-color)

        color #000

        position absolute
        left -2em
        bottom 3.2em
        border 4px solid #DDD
        //width 200px
        //height 60px

        background #FFF
        padding 1em






.tooltip
  a:hover
    &:after
      content attr(data-color)

      color #000

      position absolute
      left -2em
      bottom 3.2em

      //width 200px
      //height 60px

      background #FFF
      padding 1em


    // &:before
    //   border: solid;
    //   border-color: #FFF transparent;
    //   border-color: #FFF transparent;
    //   border-width: 1em 1em 0 1em;
    //   bottom: 2.2em;
    //   content: "";
    //
    //   left: 0
    //   position: absolute;
    //   z-index 1
    //   //z-index: 99;
